// Place all the styles related to the Upload controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main{
	width:980px;
	margin:0px auto;
}

.success_msg {
	padding-top:10px;
	color:green;
}
#head h1{
	margin-left:20px;
}

